{% extends 'base.html' %} 
{% load i18n %}
{% block title %} Geo-Locate | iCoder {% endblock title %}

{% block speed %} active {% endblock speed %}

{% block body %}

<div class="container">
	<form action="" method="get">
	  <div class="form-group"><br>
	  	<h3>Speed Test</h3><hr><br>
	    <label for="exampleInputEmail1"><strong>Enter Your Prefrence!</strong></label>
	    <input name="option" type="number" class="form-control" id="" placeholder="What speed do you want to test: 
1) Download Speed   
  
2) Upload Speed   
  
3) Ping" aria-describedby="textHelp">
	    
	    <center><button class="btn btn-primary m-2">Click</button></center>
	  </div>

	</form>
</div>


{% endblock body %}