<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Awesome Web</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1 class="container">Navbar Tutorial</h1>
	<hr>
	<nav class="navbar">
			<ul>
				<li><a href="#" >Home</a></li>
				<li><a href="#">Home</a></li>
				<li><a href="#">Home</a></li>
				<div class="search">
					<input type="text" name="search" placeholder="search">
				</div>
			</ul>
		</nav>
	<div class="container" id="firstContainer"> 
		<button id="click">Click Me</button>
	</div>
	<div class="container">

	</div>
	<br>
	<hr>	

	<script type="text/javascript">
		// console.log('Hello Rahul');
		// firstContainer.innerHTML = "<i>Hello JavaScript</i>";

		// console.log(document.getElementsByTagName('h1')[0]);

		// console.log(document.getElementsByTagName('h1').style.fontSize = "15px");

		// document.getElementsByTagName('h1')[0].style.fontSize = '55px';
		// document.write("This is a javaScript Tutorial");
		// console.warn("This Website is developed by Rahul. Don't use this website code.");
		// console.assert(4==(6-2));

		// Logical Not
		// console.log(!false);
		// console.log(!true);
		// function avg(a, b){
		// 	return (a + b)/2;
		// }

		// c = avg(4, 6);
		// console.log(c)
		// indexOf for finding the things in javascript
		// length is used for find the length of sentense.

		// let myDate = new Date()
		// console.log(myDate)
		// console.log(myDate.getFullYear())
		// console.log(myDate.getTime())


	</script>
</body>
</html>